@font-face{
	font-family: 'Wisdom Script';
	src: url('../fonts/wisdom-script.otf') format('opentype');
}

html {
	font-size: 16px; /* base font size for the page */
}


body {
	font-family: 'Montserrat', Helvetica, Arial, sans-serif;
	font-size: 1em; /* thats the same as base font 16px = 1em */
	width: 100%;
	display: flex; /* make an flex item and center */
	align-items: center;
	justify-content: center;
}

.container{
	max-width: 1200px;
	margin: 0 auto;
	display: flex; /* make an flex item and center */
	align-items: center; /* centering content */
	justify-content: center;
	flex-flow: column wrap; /* lets the items appear below of each other */
	font-size: 1em;
}

h1,
h2,
h3,
h4 {
	color: black;
	text-transform: uppercase;
	font-weight: 700;
}
h1 {
	font-size: 1.875em; /* 30px = 1.875em for desktop*/
}
h2 {
  font-size: 1.5em; /* 24px */
}
h3 {
	font-size: 1.125em; /* 18px */
}
h4 {
	font-size: 0.75em; /* 12px */
}

p {
	font-size: 0.875em; /* 14px */
	line-height: 1.313em; /* 21px */
  padding: 0 1.875em; /* convert all px to em */
}

/*The widths are in a percentage!*/
header {
	border-bottom: 3px solid #77a466;
	width: 80%; /* to get some space to the page borders */
	margin: 0 auto;
	display: flex; /* make the header an flex element */
	justify-content: center; /* center the header elements */
	align-items: center; /* center the header elements */
	flex-flow: column wrap; /* wrap the elements below */
}

header h1 {
	margin: 0;
	padding: 38px 0;
	text-align: center; /* for mobile: to have the head line centered */
	border-bottom: 0.1em solid #77a466;
	width: 100%;
}

header h1 span {
	color: #77a466;
}

header nav {
	float: right;
	padding: 2.875em 0;
	text-align: center; /* align the text/menu items in the center */
}
header nav ul {
	margin: 0;
	padding: 0;
}
header nav ul li {
	text-transform: uppercase;
	font-weight: 700;
	font-size: 1.2em; /* for desktop: 14px = 0.875em */
	line-height: 2em; /* for mobile version */
	padding: 0 0.625em; /*10px;*/
	display: block; /* to let the menu points appear below of each other */
}

header nav ul li a {
	text-decoration: none;
	color:#77a466;
}

/*The widths are in a percentage!*/
.top-section,
.bottom-section {
	width: 100%;
	margin: 0 auto;
	display: flex; /* make the header an flex element */
	justify-content: center; /* center the header elements */
	align-items: center; /* center the header elements */
	flex-flow: column wrap; /* wrap the elements below -> for mobile first */
}

.main-image {
	float: left;
	width: 80%; /* to get some space to the page borders */
}

.main-image img {
	width: 100%;
	border-bottom: .1875em solid #77a466;
}

.main-title {
	width: 80%; /* to get some space to the page borders */
	display: flex; /* make an flex item */
	justify-content: center; /* center the elements */
	flex-flow: column wrap; /* let the items appear blow */
	align-items: center;
}
.main-title h3 {
	text-align: left;
	padding: 0.278em 0; /* 5px = 0.278em*/
	color: #77a466;
	width: 100%;
}
.main-title p {
	padding: 0;
	font-size: 1em; /* 16px */
	line-height: 1.563em; /*25px;*/
}

.section-one,
.section-two,
.section-three {
	width: 80%; /* 80% for mobile - to have some space to the borders of the page; 33% for desktop */
	height: auto;
	border-top: .0625em solid #eee; /* 1px */
	display: flex; /* make flex items */
	align-items: flex-start; /* "left align" */
	flex-flow: column wrap; /* lets the items appear below of each other */
}

.section-one h4 {
	padding: .833em 0; /* 10px */
}

.menu {
	list-style: none;
	padding: 0;
}
.menu li {
	padding: .625em 0; /* 10px */
	color:#77a466;
}

.reviews {
	color: #333;
	font-size: 1em; /* 16px */
	line-height: 1.3125em; /*21px;*/
	padding: 0em; /* for mobile version --> so that text is left aligned */
}

.address {
	font-size: 1em; /* 16px */
	line-height: 1.3125em; /*21px;*/
	padding: 0em; /* for mobile version --> so that text is left aligned */
	display: flex;
	align-items: flex-start;
	justify-content: flex-start;
	flex-flow: column wrap;
}

/*The widths are in a percentage!*/
footer {
	border-top: .1875em solid #eee;
	width: 100%; /* so that the footer appears over whole page width */
	margin: 0 auto;
	text-align: center;
	display: flex; /* make it an flex items */
	align-items: center; /* center the content & make it resposable */
	justify-content: center;
	font-size: 1em;
}
footer span {
	font-family: 'Wisdom Script', cursive;
	text-transform: lowercase;
	color: #77a466;
	font-size: 1em; /* 14px; -> calc: p = 0.875em -> base font size = 16px --> 16px*0.875=14px (new base font size for p => 14px/14px=1em)*/
}


/* tablet version */
@media (min-width: 768px)	{
		.bottom-section {
			width: 80%;
			margin: 0 auto;
			display: flex; /* make the header an flex element */
			justify-content: center; /* center the header elements */
			align-items: flex-start; /* center the header elements */
			flex-flow: row nowrap; /* wrap the elements below -> for mobile first */
		}

		.section-two {
			border-left: 1px solid #eee;
			border-right: 1px solid #eee;
		}

		.section-one,
		.section-two,
		.section-three {
			width: 33%; /* 80% for mobile - to have some space to the borders of the page; 33% for desktop */
			border-top: 1px solid #eee;
			display: flex; /* make flex items */
			align-items: flex-start; /* "left align" */
			justify-content: flex-start;
			flex-flow: column wrap; /* lets the items appear below of each other */
		}

		.section-one h4 {
			padding: 0px 0px;
		}

		.section-two h4,
		.section-three h4 {
			padding: 0px 10px;
		}

		.menu li {
			padding: 0px 0px 10px 0px;
			color:#77a466;
		}

		.reviews {
			color: #333;
			font-size: 1em; /* 16px */
			line-height: 21px;
			padding: 0px 10px; /* for mobile version --> so that text is left aligned */
		}

		.address {
			font-size: 1em; /* 16px */
			line-height: 24px;
			padding: 0px 10px; /* for mobile version --> so that text is left aligned */
			display: flex;
			align-items: flex-start;
			justify-content: flex-start;
			flex-flow: column wrap;
		}


}

/* desktop version */
@media (min-width: 1000px) {
		header {
			width: 80%; /* to get some space to the page borders */
			margin: 0 auto;
			display: flex; /* make the header an flex element */
			justify-content: space-between; /* center the header elements */
			align-items: center; /* center the header elements */
			flex-flow: row nowrap; /* wrap the elements below */
		}

		header h1 {
			margin: 0;
			padding: 46px 0;
			text-align: left; /* for mobile: to have the head line centered */
			border-bottom: 0px solid white;
		}

		header nav {
			padding: 46px 0;
		}

		header nav ul {
			margin: 0;
			padding: 0;
			display: flex;
			flex-flow: row nowrap; /* so that nav elements doesn't wrap and appear in a row*/
		}

		header nav ul li {
			text-transform: uppercase;
			font-weight: 700;
			font-size: 0.875em; /* for desktop: 14px = 0.875em */
			padding: 0 10px;
			display: inline; /* to let the menu points appear next to each other */
		}

		.section-one {
			padding: 10px 0px;
			display: flex;
			align-items: flex-start;
			justify-content: flex-start;
		}

		.section-three {
			padding: 10px 30px;
			display: flex;
			align-items: flex-start;
			justify-content: flex-start;
		}

		.section-two {
			border-left: 1px solid #eee;
			border-right: 1px solid #eee;
			padding: 10px 30px;
			display: flex;
			align-items: flex-start;
			justify-content: flex-start;
		}

		.section-one h4 {
			padding: 10px 0;
		}

		.section-two h4,
		.section-three h4 {
			padding: 10px 0px;
		}

}
